:root {
    --color-primary: #eeeeee;   /* culoare banner contact us */
    --color-secondary: #979495; /* culoare Feel free */
    --color-tertiary: #f5f5f5; /* culoare tabel */
    --color-fourth: #428bca;  /* send message button si linkuri social media */
    --color-fifth: #4d4d4d;  /* contact us */
    --color-brown-light: #867353;
    --color-yellow-dark: #f69c1a;


}


html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
}
/*FONT-SIZES*/

.ft-one {
    font-size: 1.2rem;
}

.ft-two {
    font-size: 1.6rem;
}

.ft-three {
    font-size: 1.8rem;
}

.ft-four {
    font-size: 2rem;
}

.ft-five {
    font-size: 2.2rem;
}

.ft-five_prime {
    font-size: 2.5rem;
}

.ft-six {
    font-size: 2.6rem;
}

.ft-seven {
    font-size: 2.8rem;
}

.ft-eight {
    font-size: 3rem;
}

.ft-nine {
    font-size: 3.3rem;
}

.ft-ten {
    font-size: 3.6rem;
}

.ft-eleven {
    font-size: 4.2rem;
}

.ft-twelve {
    font-size: 5rem;
}
.ft-thriteen{
    font-size: 6rem;
}
.ft-fourteen{
    font-size: 7rem;
}

/*CONTAINER*/
.container-style{
    max-width: 1835px;
}
.contact-bg{
    background-color: var(--color-primary);
    padding: 4.8rem 0;
}
.big-contact-text{
    font-weight: 400;
    margin-left: 27.4rem;
}

.small-contact-text{
    color: var(--color-secondary);
}

/*FORM*/
.form{
    background-color: var(--color-tertiary);
}
.form-left{
    margin-right: 3rem;
}
.btn-style{
    width: 39.7%;
    background-color: var(--color-fourth);
    border-color: var(--color-fourth);
}

.btn-style:hover{
    background-color: var(--color-yellow-dark);
    border-color: var(--color-yellow-dark);
}
.input-style{
    margin-bottom: 1.2rem;
}
.label-text{
    font-weight: 500;
}
input[type=text],input[type=email],textarea{
    outline: 1px solid var(--color-fourth);
}
input[type=text]:focus,input[type=email]:focus,textarea:focus{
    outline: 1px solid var(--color-yellow-dark);
}
/*SOCIAL MEDIA*/

.media-title{
    color: var(--color-fifth);
}
.social-media:link,
.social-media:visited{
    text-decoration: none;
    color: var(--color-fourth);
    transition: all .4s;
    font-size: 2.1rem;
}

.social-media:hover,
.social-media:active{
    color: var(--color-yellow-dark);
}

.social-links{
    width: 56.5%;
    padding-top: 1.2rem;
    border-top: .5px solid rgb(229 227 227);
}